/project-workspace-adjusting-results
/project-workspace-calculating-results
/project-workspace-classify-uploaded-images
/project-workspace-classifying-images
/project-workspace-command-line-arguments
/project-workspace-final-results
/project-workspace-pet-image-labels
/project-workspace-printing-results
/project-workspace-timing